@font-face {
    font-family: "Norse-Bold";
    src: url(fonts/Norse-Bold.otf);
}

.noto-sans-light {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-normal {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}


body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* aside */
aside {
    background-image: url(images/daun-hijau.jpg);
    
    flex: 1 1 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside > p {
    color: white;
    text-align: center;
    margin-bottom: 8px;
}

.underline {
    text-decoration: underline;
}

/* logo-container */
.logo-container {
    display: flex;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 90px;
    height: auto;
}

.text-logo {
    color: white;
    font-size: 5rem;
    font-family: "Norse-Bold";
}

/* Text above forms */
.description,
fieldset {
    padding-left: 48px;
    padding-right: 128px;
}

.description {
    padding-top: 64px;
    padding-bottom: 64px;
}

.description > h2 + h2 {
    margin-top: 24px;
}

.description,
.card + fieldset {
    background-color: #f9fafc;
}

/* forms */
.card {
    border: none;
    box-shadow: 0px 5px 5px gainsboro;
    padding-top: 16px;
    padding-bottom: 32px;
}

.card + fieldset {
    margin-top: 2rem;
}

ul {
    padding-left: 0;
    padding-top: 8px;
    display: flex;
    width: 70%;

    gap: 12px 48px;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 16rem;
    color: rgba(0, 0, 0, 0.8);
}

ul li label {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

ul li input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ul li input:focus,
ul li input:active,
ul li input:hover,
ul li input:focus-visible {
    border: 1px solid #5d93ff;
    box-shadow: 5px 5px 5px gainsboro;
}

ul li input:invalid {
    border: 1px solid red;
    box-shadow: 0px 5px 5px gainsboro;
}

/* last part of forms */
.create {
    border: none;
}

button {
    background-color: #596D48;
    margin-bottom: 32px;
    padding: 8px 32px;
    color: white;
    border-radius: 5px;
    border-color: none;
}

button.noto-sans-bold + p > a,
button.noto-sans-bold + p > a:active,
button.noto-sans-bold + p > a:hover {
    text-decoration: none;
    color: #596D48;
}