@font-face {
    font-family: "Norse-Bold";
    src: url(fonts/Norse-Bold.otf);
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* aside */
aside {
    background-image: url(images/daun-hijau.jpg);
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside > p {
    color: white;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

/* logo-container */
.logo-container {
    display: flex;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    width: 90px;
    height: auto;
}

.text-logo {
    color: white;
    font-size: 5rem;
    font-family: "Norse-Bold";
}